<main class="container d-flex align-items-center flex-column justify-content-center h-100">

  <div id="card">
    <form [formGroup]="adminForm" (ngSubmit)="submitForm()" novalidate class="d-flex flex-column">

      <mat-form-field class="mb-3">
        <mat-label>Email</mat-label>
        <input matInput type="text" id="email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="mb-3">
        <mat-label>Password</mat-label>
        <input matInput type="text" id="password" formControlName="password">
      </mat-form-field>

      <div class="align-self-end">
        <button mat-flat-button color="primary">Signin</button>
      </div>

    </form>
  </div>

</main>