<mat-toolbar>
        <div class="col-6 justify-content-between space-between">
            <a mat-icon-button>
                Home
            </a>

            <a mat-icon-button>
                About
            </a>

            <a mat-icon-button>
                Knowledge Coffee
            </a>
        </div>
        <div class="col-6 d-flex justify-content-end space-between">
            <a mat-icon-button>
                Logout
            </a>

            <a mat-icon-button>
                Linkedin
            </a>

            <a mat-icon-button>
                Github
            </a>
        </div>
</mat-toolbar>