<mat-sidenav-container>

  <mat-sidenav mode="side" opened id="side-nav">

    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Article
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <div>
            <a mat-list-item role="navigation" routerLink="/dashboard/articles">Articles</a>
          </div>
          <div>
            <a mat-list-item role="navigation" routerLink="/dashboard/article/write">Write</a>
          </div>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tag
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <div>
            <a mat-list-item role="navigation" routerLink="/dashboard/tags">Tags</a>
          </div>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reading list
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <div>
            <a mat-list-item role="navigation" routerLink="/dashboard/reading-lists">Reading lists</a>
          </div>
        </mat-list>
      </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            User
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <div>
            <a mat-list-item role="navigation" routerLink="/dashboard/tags">Users</a>
          </div>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>