<mat-toolbar>
    <div class="col-6 justify-content-start space-between">
        <a routerLink="/">
            Home
        </a>

        <a routerLink="/about">
            About
        </a>

        <a routerLink="/knowledgeCoffee">
            Knowledge Coffee
        </a>

        <ng-container *ngIf="(isAdmin$| async)">
            <a routerLink="/dashboard/articles">
                Dashboard
            </a>
        </ng-container>
    </div>
    <div class="col-6 d-flex justify-content-end space-between">
        <ng-container *ngIf="(isConnected$ | async)">
            <a (click)="logout()">
                Logout
            </a>
        </ng-container>

        <a href="https://www.linkedin.com/in/rifaut-alexis/">
            Linkedin
        </a>

        <a href="https://github.com/RifautAlexis">
            Github
        </a>
    </div>
</mat-toolbar>