<mat-toolbar class="header-layout">
    <div class="col-6 justify-content-start space-between">
        <a routerLink="/">
            Home
        </a>

        <a routerLink="/about">
            About
        </a>

        <a routerLink="/knowledgeCoffee">
            Knowledge Coffee
        </a>

        <ng-container *ngIf="(isAdmin$| async)">
            <a routerLink="/dashboard/articles">
                Dashboard
            </a>
        </ng-container>
    </div>
    <div class="col-6 d-flex justify-content-end space-between">

        <ng-container *ngIf="(isConnected$ | async)">
            <a (click)="logout()">
                Logout
            </a>
        </ng-container>
        
        <ng-container *ngIf="(isDarkModeOn$ | async) as isDarkModeOn">
            <mat-icon (click)="changeTheme(isDarkModeOn)">
                wb_sunny
            </mat-icon>
        </ng-container>
        <ng-container *ngIf="!(isDarkModeOn$ | async) as isDarkModeOff">
            <mat-icon (click)="changeTheme(!isDarkModeOff)">
                bedtime
            </mat-icon>
        </ng-container>

        <a href="https://www.linkedin.com/in/rifaut-alexis/">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/RifautAlexis">
            <i class="fab fa-github"></i>
        </a>
    </div>
</mat-toolbar>