<ng-container *ngIf="(response$ | async) as response">
    <ng-container *ngIf="response.status == Status.PENDING">
        <loading-indicator></loading-indicator>
    </ng-container>
    <ng-container *ngIf="response.status == Status.ERROR">
        <loading-indicator></loading-indicator>
    </ng-container>
    <ng-container *ngIf="response.status == Status.SUCCESSFUL">
        <ng-container [ngTemplateOutlet]="response.data.length > 0 ? articles : emptyArticles"
            [ngTemplateOutletContext]="{articles:response.data}">

        </ng-container>
    </ng-container>
</ng-container>

<ng-template #articles let-articles='articles'>
    <main class="container py-3">
        <articles-overview [articles]="articles" [isAdmin]="false"></articles-overview>
    </main>
</ng-template>

<ng-template #emptyArticles>
    <main class="container">
        <p>No Articles've been found</p>
    </main>
</ng-template>