<form [formGroup]="articleForm" (ngSubmit)="submit()" novalidate
  class="d-flex flex-column jusrify-content-center">

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" formControlName="title">

    <mat-error *ngIf="articleForm.controls['title']?.errors?.isUniquetitle"> This title is already taken </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" formControlName="description">
  </mat-form-field>

  <content-editor (onContentChanged)="onChangeContent($event)" [content]="articleToEdit?.content"></content-editor> <!-- formControlName="content" -->

  <mat-form-field>
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of tagsSelected" [selectable]="true" [removable]="true" (removed)="remove(tag)">
        {{tag?.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add a tag..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of tagsFiltered | async" [value]="tag">
        {{tag.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="align-self-end">
    <a mat-flat-button routerLink="/dashboard/articles" class="cancel-button mr-3">Cancel</a>
    <button mat-flat-button type="submit" color="primary">Create</button>
  </div>

</form>